<html>

<head>
    <meta charset="utf-8">
    <title>POST_TITLE | Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div>
    <h2><%= title %></h2> <small>Created by,<a href = "/profile/<%= postid.id1%>"> <%= userPoster%></small></a>
<hr>
    <p><%= posts %></p>
    <hr>
	 <%  for (var i = 0; i < comment.comment.length; i++){%>
	<p><%= comment.comment[i] %> </p>
	<small> by, <%= comment.users[i] %> </small>
	<br>
	 <% } %>
	<h1>Comment</h1>
	<form method = "POST" action = "/post/<%= postid.id %>" >
	<textarea class="form-control" rows="5" id="comment" name = "comment" ></textarea>
	<br>
	<button type = "submit">Post Comment</button>
	
	</form>
	
</div>
    </div>
</body>

</html>
